<!DOCTYPE html>
<html>
    <head>
        <title>Eligible</title>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <style>
               i{
                       font-size:150px;
                       color:orange;
                 }
                 .con3 img{
                        width:50%;
                }                
        </style>
       
    </head>
    <body align="center">
        <div class="con">
                 <div class="con1">
                          <i class='bx bx-like'></i>
                 </div>
                 <div class="con2">
                         <h1>You have  {{ p}}! chance to get seat</h1>
                 </div>
                  <div class="con3">
                          <img src="../static/images/im57.jpg">
                 </div>
        </div>
       
    </body>
</html>