<html>
<head>
<link rel="stylesheet" href="../static/css/style.css">
</head>
<body align="center">
<form action ="http://127.0.0.1:5000/index" >
<h3 style="text-align:center;">UNIVERSITY ADMIT ELIGIBILITY PREDICTING SYSTEM</h3>
<div class="form-group">
<button style="width:30%;text-align: center;margin: 0 auto;" type="submit" value="submit">PREDICT ELIGIBILITY</button>
</div>
</form>
<img src="../static/images/logo.jpg">
</body>
</html>


<style>
h3{
   margin-top: 8%;
}
img {
  margin: 0 auto;
  display: block;
  
}
</style>
